.wrapper {
	margin: 100px 5px;

	.visit_card {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		gap: 30px;
		margin-bottom: 80px;

		.about_me {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 629px;

			h1 {
				font: 800 88px Montserrat;
				color: #8a4802;
			}
		}

		img {
			background-image: url(${foto});
			width: 450px;
			height: 450px;
			background-size: contain;
			background-repeat: no-repeat;
			border-radius: 250px;
			box-shadow: 5px 5px 5px 5px #0000004d;
		}
	}

	.skills {
		display: flex;

		.roles {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 60px;

			.mySkillsTitle {
				display: flex;
				justify-content: center;
				align-items: center;
				font: 800 40px Montserrat;
				color: #8a4802;
			}



			.roles_item {


				.icon_1,
				.icon_2,
				.icon_3 {
					width: 30px;
					height: 30px;
					background-size: contain;
					background-repeat: no-repeat;
				}

				.icon_1 {
					background-image: url('./assets/icon1.svg');
				}

				.icon_2 {
					background-image: url('./assets/icon2.svg');
				}

				.icon_3 {
					background-image: url('./assets/icon3.svg');
				}

				h3 {
					font: 800 28px Montserrat;
					color: #8a4802;
				}

				.line {
					border: 1px solid #66666676;
					width: 70%;
				}

				.info_item {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;
				}

				.iconTatle {
					display: flex;
					justify-content: center;
					gap: 15px;
				}

				.list {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					gap: 20px;

					p {
						width: 57%;
					}
				}

				.listAlso {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					gap: 20px;
				}
			}
		}
	}
}

.experience {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 60px;
	margin-top: 120px;

	.jobInfo {
		display: flex;
		justify-content: center;
		align-items: center;
		font: 800 40px Montserrat;
		color: #8a4802;
	}
}

@media screen and (max-width: 1000px) {
	.wrapper .visit_card {
		justify-content: center;
		gap: 20px;

		.about_me {
			text-align: center;
			gap: 20px;
		}

		img {
			width: 350px;
			height: 350px;
		}
	}

	.experience {
		margin-top: 60px;
	}
}

@media screen and (max-width: 800px) {
	.wrapper .visit_card .about_me {
		& h1 {
			font-size: 70px;
		}

		& p {
			font-size: 18px;
		}
	}

	.experience {
		margin-top: 60px;
	}
}



@media screen and (max-width: 800px) {
	.wrapper {
		& h1 {
			font-size: 70px;
		}

		& p {
			font-size: 18px;
		}
	}

	.experience {
		margin-top: 60px;
	}
}

@media screen and (max-width: 600px) {
	.skills .roles {
		gap: 50px;
	}

	.experience {
		margin-top: 60px;
	}
}

@media screen and (max-width: 520px) {
	.wrapper .visit_card .about_me {
		& h1 {
			font-size: 44px;
		}
	}

	.experience {
		margin-top: 60px;
	}
}